fastapi
uvicorn
python-dotenv
python-multipart
pydantic-settings
qdrant-client
langchain
langchain-community
langchain-text-splitters
pypdf
openai
langchain-openai
langchain-qdrant
langgraph
flashrank
sqlalchemy
pymysql
alembic
email-validator
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
boto3
pillow
